//Colors
$dark-gray: #333;
$blue: #1c88bf;
$dark-blue: #364051;

//Font Size
$font-size-large: 18px;
$font-size-medium: 15px;

// Spacing
$s-size: 12px;
$m-size: 16px;
$l-size: 32px;
$xl-size: 48px;
$desktop-breakpoint: 450px;
