@import-normalize;
@import './settings';
@import './components/box-layout';
@import './components/button';
@import './components/header';
@import './components/content-container';
@import './components/page-header';
@import './components/input-group';
@import './components/inputs';

* {
  box-sizing: border-box;
}

html,
body {
  overflow-y: overlay;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  color: $dark-gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: disabled;
  }
}
